<!DOCTYPE html>
<html>                
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <title>OCR</title>
</head>
<body>
<br>
<hr>
<style>
    .image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
</style>

<div class="container" align="center">
    <h6>{{ text }}</h6>
    <img src="{{filename}}" class="image" >
</div> 
</br>
<form action="/speech" method="POST" enctype="multipart/form-data">
    <div class="form-group">
        <label for="voices">Choose a Voice Assistant</label>
          <select name="voices" id="voices">
              <option value="Male">Male</option>
              <option value="Female">Female</option>
          </select>
    <button>
      <i style="font-size:24px" class="fa">&#xf144;</i>
  </button>
</div>
</form>

</body>
</html>